////////////////////////////////////////////////////////////////////////////////
// Homepage
////////////////////////////////////////////////////////////////////////////////

.home
  align-items: center
  display: flex
  flex-direction: column
  padding: 3rem 0
  text-align: center

  +mediawidth(lg)
    flex-direction: row
    justify-content: center
    padding: 0
    text-align: left

  &__icon
    border-radius: 50%
    margin-bottom: 3rem
    max-width: 10rem

    +mediawidth(md)
      display: none

  &__phone
    display: none

    +mediawidth(md)
      display: block

      img
        margin-bottom: 3rem
        max-height: 30rem

    +mediawidth(lg)
      margin-right: 3rem

      img
        max-height: none
        max-width: 25rem

  &__content
    +mediawidth(lg)
      max-width: 60%

    &__title
      font-size: $large-title
      margin-bottom: 1rem

      +mediawidth(lg)
        font-size: $x-large-title

    &__sub-title
      font-size: $paragraph

      +mediawidth(md)
        font-size: $tiny-title

    &__link
      font-size: $tiny-title
      margin-top: 2rem
