// Background Styles

body {
	font-family: 'Lato', sans-serif;
}

.background {
	height: 100vh;
	background-position: center;
	background-color: #ede0cc;
	padding: 50px;
}


// Typeography Styles

h1 {
	font-weight: 900;
	margin-top: 0px;
}


// Phone animtaion styles
.phone-wrapper {
    position: relative;
}

.phone {
    position: absolute;
    top: 10.5%;

    bottom: 19.5%;
    left: 13.5%;
    right: 16%;
    /* background: #000; */
    border: 0.5px solid rgba(0, 0, 0, 0.27);
    border-radius: 3px;
    overflow: hidden;
}