body {
	font-family: 'Nunito Sans', 'Helvetica', sans-serif;
	color: black;
	background-color: #ede0cc;
}

// Sticky footer styles
.navbar-fixed-bottom {
	padding-bottom: 20px;
}

// Container and centering styles for content
.background {
	height: 100%;
	
	display: flex;
}

.container {
	display: flex;
}

	.row {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

		.col-md-10 {
			margin: auto;
		}

			.intro-section {
				margin-bottom: 40px;

				// Typeography Styles
				h1 {
					font-weight: 900;
					font-size: 60px;
				    letter-spacing: -2px;
				    margin-top: 0px;
				}

				p {	
					font-size: 1.5em;
					font-weight: 300;
				}
			}


// Button Styles for Messenger Icon 
.btn {
	span {
		margin-right: 5px;
	}
}

.btn-default {
	background-color: #fff;
	transition: background-color 0.2s ease;
	-moz-animation-delay: 1s;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
  

	&:hover {
		background-color: #e6e6e6;
	}
}

// Link color
a {
	color: black;
	font-weight: 900;
	transition: color 0.2s;
	&:hover {
		text-decoration: none;
		color: #db2951;
	}
}


// Phone animtaion styles
.phone-wrapper {
    position: relative;
}

.phone {
    position: absolute;
    top: 10.5%;
    bottom: 19.5%;
    left: 13.5%;
    right: 16%;
    /* background: #000; */
    border: 0.5px solid rgba(0, 0, 0, 0.27);
    border-radius: 3px;
    overflow: hidden;
}

// Mobile only Icon
.mobile-icon {
	height: 100px;
	margin-bottom: 30px;
}

// Responsive Styles 
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

  	.intro-section{
  		margin-bottom: 15px;
  		text-align: center;
  		h1 {
  			font-size: 40px;
  			letter-spacing: -1px;
		}

  		p {
  			font-size: 18px;
  		}
  	}
}
