////////////////////////////////////////////////////////////////////////////////
// Typography
// This is where fonts and default text sizing is defined for DadBot
////////////////////////////////////////////////////////////////////////////////

html
  font-display: swap
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif
  font-size: 10px // Allows for the 1rem = 10px conversion
  font-weight: 300

// Heading size variables
$x-large-title: 6.4rem
$large-title: 4.5rem
$medium-title: 3.6rem
$small-title: 2.8rem
$tiny-title: 2rem

// Body Text
$subtitle: 2.4rem
$paragraph: 1.8rem
$micro: 1.6rem

h1,
h2,
h3,
h4,
h5,
h6
  margin: 0

p
  font-size: $paragraph
  line-height: 1.5
  margin-top: 0

strong
  font-size: $paragraph
  font-weight: 900

a
  color: $black
  font-weight: 900
  position: relative
  text-decoration: none
  transition: color $default-animation
  z-index: 1

  &::after
    background: $dadbot-red
    bottom: .25rem
    content: ''
    height: .2rem
    left: 0
    position: absolute
    transition: width $default-animation
    width: 0%
    z-index: 0

  &:hover
    color: $dadbot-red

  &:focus
    outline: 0

    &::after
      width: 100%

  // When links are displayed as buttons, we need to ensure they do not have the
  // red underline when focused
  &.btn
    &:focus
      text-decoration: none

      &::after
        display: none
