////////////////////////////////////////////////////////////////////////////////
// Typeography
// This is where fon'ts and default text sizing is defined for DadBot
////////////////////////////////////////////////////////////////////////////////

html
  font-size: 10px // Allows for the 1rem = 10px conversion
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif
  font-display: swap
  font-weight: 300

// Heading size variables
$x-large-title: 6.4rem
$large-title: 4.5rem
$medium-title: 3.6rem
$small-title: 2.8rem
$tiny-title: 2rem

// Body Text
$subtitle: 2.4rem
$paragraph: 1.8rem
$micro: 1.6rem

h1,
h2,
h3,
h4,
h5,
h6
  margin: 0

p
  font-size: $paragraph
  line-height: 1.5
  margin-top: 0

strong
  font-weight: 900
  font-size: $paragraph
